# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Cloudflare temp
cloudflared*
cert.pem

# OS
.DS_Store
Thumbs.db
